<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Popup</title>
    <link rel="stylesheet" href="css/chatbot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <button id="chatbot-toggle"><i class="bi bi-robot"></i></button>
    <div id="chatbot">
        <div id="chatbot-header">
            <div id="logo">
                <i class="bi bi-robot"></i>
            </div>
            <div id="title">
            <h4>Security Bot</h4>
            <p>Ask me a question</p>
        </div>
            <button id="header-toggle"><i class="bi bi-x"></i></button>
        </div>
        <div id="questions"></div>
        <div id="messages"></div>
        <div id="options">
            <button class="button" onclick="sendResponse('Hello')">Hello</button>
            <button class="button" onclick="sendResponse('Tell me about the most common attack type in cybersecurity.')">Tell me about the most common attack type in cybersecurity.</button>
            <button class="button" onclick="sendResponse('Tell me about the most commonly used security measure?')">Tell me about the most commonly used security measure?</button>
            <button class="button" onclick="sendResponse('I would like to hire you!')">I would like to hire you!</button>
            <button class="button" onclick="sendResponse('That is all for today. Thank you!!')">That is all for today. Thank you!!</button>
        </div>
    </div>
    <script src="js/chatbot.js"></script>
</body>
</html>